/* .header{
    height: 80px;
    background-color:#1C2B35 ;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    margin-left:30px ;
}
nav a:hover{
    color: rgb(226, 78, 24);
} */